.desc
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fotter {
    text-align: center;
}
.wraper{
margin-left: 10px;    
}
*
{
    margin: 0 0;
    padding: 0 0;
}
body {
    overflow-x: hidden; /* Hide scrollbars */
  }

  .pagination
  {
    padding: 10px;
    margin: 15px 0;
    display: flex;
    justify-content: center;
  }
  .pagination span
  {
    padding: 15px 20px;
    border: 1px solid gray;
    cursor: pointer;
  }
  .pagination_selected
  {
    background-color: blanchedalmond;
  }
  .paginationDisable
  {
    display: none;
  }